* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}

body.custom-bg {
  background-color: #141223;
}
nav {
  background: #5d0079;
}
.cont-nav {
  position: relative;
  left: 1%;
}
::-webkit-scrollbar{
  display: none;
}
.preferences-container {
  background-color: #302d32; /* Fondo claro para el contenedor de preferencias */
  box-shadow: inset 2px 4px 15px rgb(27, 27, 27);
  border-radius: 0.25rem; /* Bordes redondeados */
  padding: 1rem; /* Espaciado interno */
  max-height: 400px; /* Altura máxima */
  overflow-y: auto; /* Desplazamiento vertical si es necesario */
  overflow-x: hidden; /* Evita el scroll horizontal */
  bottom: 10%;
  left: 10%;
  position: relative;
  color: rgb(207, 189, 248);
}

.selectores{
  background: #545b62;
  padding: 8px;
  border-radius: 9px;
  border: none;
}
/* Grid para las preferencias */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 1rem; /* Espacio entre elementos */
}



/* Estilo para los checkboxes y etiquetas */
.forme-check {
  display: flex;
  align-items: center;
}

.forme-check-input {
  margin-right: 0.5rem; 
}

.forme-check-label {
  font-size: 0.675rem; 
}



.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 0.5rem; /* Espacio entre el checkbox y la etiqueta */
}

.form-check-label {
  font-size: 0.875rem; /* Tamaño de fuente ligeramente más pequeño */
}

/* Estilo para los botones */
.btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
/* Estilo para el modal */

.modal-content {
  border-radius: 0.25rem;
  background-color:#302d32 !important;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.45);
  bottom: 50%;
  position: relative;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
}
.modal-title{
color: rgb(255, 255, 255);
}
.modal-dialog{
  background: #ffffff !important;
  margin-top: 22% !important;
}
.close {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.close:hover {
  color: #0056b3;
}

.perfil_index {
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}
.nombre_perfil,
.nombre_perfil_usuario {
  text-decoration: none;
  color: white;
}
.nombre_perfil_usuario {
  position: absolute;
  left: 75px;
  top: 20px;
}
.archivos_perfil {
  position: relative;
  left: -80%;
  transform: translateX(50%);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icono-redes {
  margin-right: 8px;
  font-size: 30px;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}
.nav-item button {
  border: none;
  background: none;
  color: white;
  font-size: 1.5rem;
}
.imagen_perfil_view,
.imagen_perfil {
  border-radius: 50%;
}
.imagen_perfil_view {
  width: 150px;
  height: 150px;
}
.imagen_perfil {
  height: 100px;
  width: 100px;
  position: relative;
}
.nombre_perfil_view {
  color: white;
}
.form-control {
  background-color:#545b62 !important;
  border: none !important;
  color: #fff;
}
.form-control::placeholder {
  color: #adb5bd;
}
.form-control.input_biografia {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: top;
  line-height: 1.5;
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.btn {
  color: #ffffff;
  border-color: #ffffff;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
.parte_derecha_registro,
.parte_derecha_login {
  background-color: #302d32;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
}
.info_datoslog,
.info_datosreg {
  text-align: center;
  color: #adb5bd;
}
.info_datosreg {
  width: 60%;
}
.info_datoslog {
  width: 80%;
}
.bg-custom-register {
  background-color: #007bff;
}
.bg-custom-login {
  background-color: #6c757d;
}
.parte_izquierda_registro_pref{
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parte_izquierda_registro_discog{
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parte_izquierda_registro,
.parte_izquierda_login {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parte_izquierda_registro_pref h2,
.parte_izquierda_registro_pref h4{
  margin: 0;
  text-align: center;
}
.parte_izquierda_registro_discog h2,
.parte_izquierda_registro_discog h4{
  margin: 0;
  text-align: center;
}
.parte_izquierda_registro h2,
.parte_izquierda_registro h4,
.parte_izquierda_login h2,
.parte_izquierda_login h4 {
  margin: 0;
  text-align: center;
}
.parte_izquierda_registro_pref h2 a,
.parte_izquierda_registro_pref h4 a{
  text-decoration: none;
  color: #d132ff;
}
.parte_izquierda_registro_discog h2 a,
.parte_izquierda_registro_discog h4 a{
  text-decoration: none;
  color: #d132ff;
}
.parte_izquierda_registro h2 a,
.parte_izquierda_registro h4 a,
.parte_izquierda_login h2 a,
.parte_izquierda_login h4 a {
  text-decoration: none;
  color: #d132ff;
}
.parte_izquierda_registro_pref hr{
  width: 60%;
  border: 1px solid #dcaaeb;
  margin: 7px auto;
}
.parte_izquierda_registro_discog hr{
  width: 60%;
  border: 1px solid #dcaaeb;
  margin: 10px auto;
}
.parte_izquierda_registro hr,
.parte_izquierda_login hr {
  width: 60%;
  border: 1px solid #dcaaeb;
  margin: 10px auto;
}
.pass_lost {
  color: #dcaaeb;
  text-decoration: none;
}
.fondo_perfil_v,
.fondo_perfil_editar {
  text-align: center;
  margin-top: 20px;
  background-color: #343a40;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
}
.fondo_perfil_v {
  padding: 60px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color:#545b62 !important;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
}
.custom-file-input {
  display: none;
}
.preview-image {
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.container,
.container.mt-4 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.mt-4 {
  min-height: 80vh;
}
.movement{
  position: relative;
  left: 45%;
  bottom: 100px;
  width: 50%;
}
.perfil-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: left;
  position: relative;
}
.perfil-details {
  max-width: 500px;
}
@media (max-width: 1024px) {
  .imagen_perfil {
    right: 0%;
  }
  .perfil-content {
    right: 5%;
  }
}
@media (max-width: 769px) {
  .perfil-content {
    flex-direction: column;
    text-align: center;
  }
  .perfil-content {
    right: 0%;
  }
  .btn-group {
    flex-direction: column;
    gap: 10px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas y pequeñas */
  
}
.grid-container-i {
  grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas y pequeñas */

}
.registro{
  font-size: 50px;
  
}
.login{
  font-size: 40px;
}
.parte_izquierda_registro{
  bottom: 100%;
  position: relative;
}
.preferences-container{
  bottom: -5%;
  position: relative;
  left: 0%;
}

}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .parte_izquierda_registro{
    bottom: 70%;
    
    position: relative;
  }
  .parte_izquierda_registro_pref{
    bottom: 70%;
    left: 100%;
    position: relative;
  }
  .preferences-container{
    bottom: -20%;
    position: relative;
    left: -30%;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px){
  .parte_izquierda_registro{
    bottom: 0%;
    left: 10%;
    position: relative;
  }
  .preferences-container{
    bottom: 12%;
    position: relative;
    left: 0%;
  }

  
}
@media (max-width: 576px) {
  .fondo_perfil_v {
    padding: 30px;
  }
  .imagen_perfil-container {
    width: 100px;
  }
  .registro{
    font-size: 40px;
    
  }
  .login{
    font-size: 30px;
  }
  .parte_izquierda_registro{
    bottom: 5%;
    position: relative;
  }
  .preferences-container{
    position: relative;
    left: 0%;
  }
  
}

#ventanaEmergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#ventanaEmergente button {
  margin-right: 10px;
}

.parte_derecha_Generos {
  margin-top: 150px; 
  padding: 20px; 
  text-align: center;
  display: block;
  position: relative;
  left: 350px;
  top: -300px;
  background: #302d32;
  margin-left: 30%;
  margin-right: 30%;
  padding: 50px;
  border-radius: 9px;
}
.generos_container {
  
  width: 100%; 
  max-height: 300px;
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  grid-gap: 10px; 
}
.generos_container div {
  display: flex;
  align-items: center;
}

.generos_container label {
  color: purple;
  font-weight: bold;
}


.generos_container::-webkit-scrollbar {
  width: 8px;
}

.generos_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.generos_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#resultado1 {
  display: flex; /* Alinea los elementos en fila */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alineación vertical */
  background-color: #e0e0e0; /* Fondo de cubo */
  width: 300px; /* Ancho del cubo */
  height: 200px; /* Alto del cubo */
  border: 3px solid #000; /* Borde */
  border-radius: 10px; /* Borde redondeado para un efecto 3D ligero */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  padding: 10px;
}
#item {
  background-color: #fff; /* Fondo de cada item */
  border: 1px solid #ccc; /* Borde de los items */
  padding: 10px;
  border-radius: 5px; /* Esquinas ligeramente redondeadas */
}
#resultado {

  display: flex; /* Alinea los cubos en fila */
  align-items: center; /* Alineación vertical de los cubos */
  padding: 2%;



}